__pycache__/
*.py[cod]
*$py.class

venv/
env/
.venv/
.env/

.vscode/
.idea/
*.swp
*.swo

*.log
*.out
*.tmp
*.bak
*.cache/
pip-log.txt

htmlcov/
.tox/
.nox/
.coverage
coverage.xml
.cache
.pytest_cache/

.ipynb_checkpoints/

build/
dist/
*.egg-info/
.eggs/
MANIFEST

*.db
*.sqlite3
*.csv
*.tsv

.DS_Store
Thumbs.db

.env
.env.*

.mypy_cache/
.pyre/
.pylint.d/

.history/

.pyright/

*.whl

celerybeat-schedule
celerybeat.pid
